#palette_pane

  #erase_button

  #black_button.color_button
  #gray_button.color_button
  #silver_button.color_button
  #white_button.color_button
  #aqua_button.color_button
  #blue_button.color_button
  #navy_button.color_button
  #teal_button.color_button
  #olive_button.color_button
  #green_button.color_button
  #lime_button.color_button
  #maroon_button.color_button
  #orange_button.color_button
  #purple_button.color_button
  #red_button.color_button
  #fuchsia_button.color_button
  #yellow_button.color_button