#palette_pane

  %input{:type => 'button', :value => 'Eraser', :id => 'eraser_button'}
  %input{:type => 'button', :value => 'Red', :id => 'red_button'}
  %input{:type => 'button', :value => 'Green', :id => 'green_button'}
  %input{:type => 'button', :value => 'Blue', :id => 'blue_button'}
  %input{:type => 'button', :value => 'Cyan', :id => 'cyan_button'}
  %input{:type => 'button', :value => 'Yellow', :id => 'yellow_button'}
  %input{:type => 'button', :value => 'Magenta', :id => 'magenta_button'}