#palette_pane

  #erase_button

  #red_button.color_button
  #green_button.color_button
  #blue_button.color_button
  #cyan_button.color_button
  #yellow_button.color_button
  #magenta_button.color_button