#top

%span#welcome_message
  Welcome to your Pixel Paisan!

%span#canvas_size_display
  Current canvas size: x
  %span#canvas_width
    0
  , y
  %span#canvas_height
    0

%br

%span
  Canvas Size
  %input{:type => 'text', :value => '29', :id => 'canvas_size_in_cells_field'}

%span
  Cell Size
  %input{:type => 'text', :value => '20', :id => 'cell_size_field'}

%input{:type => 'button', :value => 'Clear', :id => 'canvas_clear_button'}

%br

= render 'front_page/palette'

%canvas#canvas{:width => 500, :height => 500}

%br

= link_to 'Palette Editors', palettes_path