
#ajax_auth_testing_panel

  #login.bordered
    %label{for: 'login_email_field'} Email:
    %input#login_email_field{type: 'text'}
    %br
    %label{for: 'login_password_field'} Password:
    %input#login_password_field{type: 'text'}
    %br
    %button#login_submit_button Submit Login


  %br

  #signup.bordered
    %label{for: 'signup_name_field'} Username:
    %input#signup_name_field{type: 'text'}
    %br
    %label{for: 'signup_email_field'} Email:
    %input#signup_email_field{type: 'text'}
    %br
    %label{for: 'signup_password_field'} Password:
    %input#signup_password_field{type: 'text'}
    %br
    %label{for: 'signup_password_confirmation_field'} Confirm Password:
    %input#signup_password_confirmation_field{type: 'text'}
    %br
    %button#signup_submit_button Submit Signup
