#palette_pane
  border: 1px solid black
  float: left
  width: 6em

// Eraser-icon.png sourced from http://www.iconarchive.com/show/outline-icons-by-designcontest/Eraser-icon.html
// Originally from http://www.designcontest.com/

#erase_button
  background-image: image-url('Eraser-icon.png')
  background-size: 90% 90%
  background-repeat: no-repeat
  background-position: center
  border: 1px solid black
  width: 6em
  height: 6em
  background-color: white
  -webkit-box-sizing: border-box
  -moz-box-sizing:    border-box
  box-sizing:         border-box

#palette_selector
  width: 90%

.templates
  display: none

.color_button
  float: left
  border: 1px solid black
  width: 1.5em
  height: 1.5em
  -webkit-box-sizing: border-box
  -moz-box-sizing:    border-box
  box-sizing:         border-box