
#simplemodal-overlay
  background-color: #000

/* Container */
#picture_saved_modal
  display: none
  height: 10em
  width: 20em
  background-color: white
  border: 4px solid lightgrey
  padding: 1em
  border-radius: 2em
  text-align: center
  font-size: 2em
  line-height: 1.1em

#close_modal_button
  float: right