

.picture_thumbnail
  margin: 5px
  background: white

.picture_display
  margin: 5px
  background: white

.thumbnail_entry
  margin: 5px
  padding: 5px
  text-align: center
  float: left
  width: 138px

.display_entry
  margin: 5px
  padding: 5px
  text-align: center
  display: inline