#color_picker_modal

  .color_value_container
    %span.color_value_field_label Red
    %input{type: 'text_field', value: 0,
      id: 'r_value_field', class: 'color_value_field'}

  .color_value_container
    %span.color_value_field_label Green
    %input{type: 'text_field', value: 0,
      id: 'g_value_field', class: 'color_value_field'}

  .color_value_container
    %span.color_value_field_label Blue
    %input{type: 'text_field', value: 0,
       id: 'b_value_field', class: 'color_value_field'}

  #color_display_panel

  #add_new_color_button.button Add New Color
