#color_picker_modal

  .color_value_container
    %span.color_value_field_label Red
    %input#r_value_field.color_value_field{ type: 'text_field', value: 0 }

  .color_value_container
    %span.color_value_field_label Green
    %input#g_value_field.color_value_field{ type: 'text_field', value: 0 }

  .color_value_container
    %span.color_value_field_label Blue
    %input#b_value_field.color_value_field{ type: 'text_field', value: 0 }

  #color_display_panel

  #add_new_color_button.button Add New Color
