#login_in_to_save_modal.modal_content_pane
  You must be logged in to save your work!  Click here to log in or here |
  to create a new Pixel Paisan account.
#login_and_save_timeout_modal.modal_content_pane
  It is taking a long time to communicate with the Pixel Paisan server. Your |
  internet connection may have been interrupted. Click anywhere to close this |
  window. |
#logged_in_and_saved_modal.modal_content_pane
  You're now signed in to Pixel Paisan and your work is saved. Click anywhere |
  to close this window.

#login_dialog_modal.modal_content_pane
#awaiting_login_modal.modal_content_pane
  Processing login.
#login_successful_modal.modal_content_pane
  Login successful.  Click anywhere to close this window.
#login_timeout_modal.modal_content_pane
  It is taking a long time to communicate with the Pixel Paisan server to |
  login. Your internet connection may have been interrupted. Click anywhere to |
  close this window. |
#login_server_response_failure_modal.modal_content_pane
  An error occured while logging in your account.  Click anywhere to close |
  this window.

#account_creation_dialog_modal.modal_content_pane
#awaiting_account_creation_modal.modal_content_pane
  Creating your account.
#account_creation_successful_modal.modal_content_pane
  Account creation successful!  Click anywhere to close this window.
#account_creation_timeout_modal.modal_content_pane
  It is taking a long time to communicate with the Pixel Paisan server and |
  create your account. Your internet connection may have been interrupted |
  Click anywhere to close this window. |
#account_creation_server_response_failure_modal.modal_content_pane
  An error occured while creating your account.  Click anywhere to close this |
  window.

#awaiting_picture_save_modal.modal_content_pane
  Your picture is being saved.  This may take a few moments.
#picture_save_timeout_modal.modal_content_pane
  It is taking a long time to communicate with the Pixel Paisan server to save |
  your picture. Your internet connection may have been interrupted. Click |
  anywhere to close this window. |
#picture_save_success_modal.modal_content_pane
  Your picture has been successfully saved. Click anywhere to close this window.
#picture_save_server_error_modal.modal_content_pane
  An error occured while uploading the picture.

#awaiting_picture_load_modal.modal_content_pane
  Loading your picture from the server.
#picture_load_timeout_modal.modal_content_pane
  It is taking a long time to communicate with the Pixel Paisan server while |
  loading your picture. Your internet connection may have been interrupted. |
  Click anywhere to close this window. |
#picture_load_server_error_modal.modal_content_pane
  An error occured while loading the picture from the server.


-# SERVER
-# Server responds with success, picture save
-# Server responds with error, picture save

-# Server responds with success, picture load
-# Server responds with error, picture load

-# Server responds with success, account creation
-# Server responds with error, account creation

-# Server responds with success, user login
-# Server responds with error, user login

-# CLIENT
-# No communication

-# Dialog, create new user account
-# Dialog, login user

-# Waiting for sever, async account creation
-# Waiting for sever, async account login

-# Response timeout, async user account creation
-# Response timeout, async user login

-# Waiting for server, picture save
-# Response timeout, picture save

-# Waiting for server, picture load
-# Server timeout, picture load

