
#painting_application_panel{ data: { picture_id: @picture_id, user_id: @user_id } }

  = render 'editor/tool_bar'

  %br

  = render 'editor/palette'

  #canvas_holder
    %canvas#painting_canvas{ width: 360, height: 360 }
    #canvas_dimension_display

  %br

  #editor_modal_container.modal_container
    = render 'editor_modals'
