
#painting_application_panel{ data: { picture_id: @picture_id, user_id: @user_id } }

  %span#picture_name_display> new_picture
  %button#change_picture_name_button
    Change Name

  %br

  %span#painting_canvas_size_display
    Current canvas size: x
    %span#painting_canvas_width
      0
    , y
    %span#painting_canvas_height
      0

  %br

  %span
    Canvas Size
    %input#canvas_size_in_cells_field{ type: 'text', value: '20' }

  %span
    Cell Size
    %input#cell_size_field{ type: 'text', value: '20' }

  %br

  %button#canvas_clear_button Clear
  %button#undo_button Undo
  %button#save_picture_button Save Picture
  %button#create_new_button Create New
  %label Draw Grid
  %input#draw_grid_checkbox{type: 'checkbox'}

  %br

  = render 'editor/palette'

  %canvas#painting_canvas{ width: 500, height: 500 }

  %br

  #editor_modal_container.modal_container

    #picture_saving_pane.modal_content_pane
      Your picture is being saved.  This may take a few moments.
    #picture_saved_pane.modal_content_pane
      Your picture has been successfully saved. Click anywhere to close this window.
    #upload_timeout_pane.modal_content_pane
      It is taking a long time to communicate with the Pixel Paisan server to save your picture. Your internet connection may have been interrupted. Click anywhere to close this window.
    #picture_upload_error_pane.modal_content_pane
      An error occured while uploading the picture.
    #log_in_to_save_pane.modal_content_pane
      You must be logged in to save your work.
