#new_user_save_modal
  Hello there! I noticed that you're trying to save your pixel work, but you're not signed in to a Pixel Paisan account. It's quick and easy to create one, or you can sign in to the account you already have. Don't worry, we'll keep your picture safe until you can save it.

  %input{:type => 'button', :value => 'Test ajax login', :id => 'trigger_ajax_login_button'}

  #sign_up_tab
    Sign up for Pixel Paisan!

  #sign_in_tab
    Sign in to your existing account

  #sign_up_pane

  #sign_in_pane
