
#palette_pane

  #palette_border

    #erase_button

    %select{ id: 'palette_selector' }
      - @palettes.each do |palette|
        %option{ id: string_to_css_id(palette.name), value: palette.id }
          = palette.name

    #palette_colors_wrapper

    #recent_colors_pane
      #current_color_pane.recent_color_pane
      #previous_color_pane.recent_color_pane

    .templates
      .color_button

  %button#color_picker_opener Add New Color


= render 'editor/color_picker_modal'
