#palette_pane

  #erase_button

  %select{ :id => 'palette_selector' }
    - @palettes.each do |palette|
      %option{ id: string_to_css_id(palette.name), value: palette.id }
        = palette.name

  #palette_colors

  %input{type: 'button', value: 'Add Color', id: 'add_new_color_button', href: '#color_picker'}

  .templates
    .color_button

#add_new_color_pane
