
#palette_pane

  #palette_border

    #erase_button

    %select{ :id => 'palette_selector' }
      - @palettes.each do |palette|
        %option{ id: string_to_css_id(palette.name), value: palette.id }
          = palette.name

    #palette_colors

    .templates
      .color_button

  #color_picker_opener.button Add New Color


= render 'editor/color_picker_modal'
