
#tool_bar
  #tool_bar_file_element.tool_bar_element
    new_picture &#x25bc
    #file_tools_dropdown.dropdown_element.hidden
      new
      %br
      save
      %br
      rename
  #tool_bar_edit_element.tool_bar_element
    Edit &#x25bc
    #edit_tools_dropdown.dropdown_element.hidden
      clear
      %br
      undo
      %br
      redo
  #tool_bar_view_element.tool_bar_element
    View &#x25bc
    #view_tools_dropdown.dropdown_element.hidden
      canvas size
      %br
      cell size
  #tool_bar_tools_element.tool_bar_element
    Tools &#x25bc
    #tool_tools_dropdown.dropdown_element.hidden
      palette
      %br
      flood fill
      %br
      selection
