
#tool_bar
  #tool_bar_file_element.tool_bar_element
    .tool_bar_title
      new_picture &#x25bc
    #file_tools_dropdown.dropdown_element.hidden
      #new_picture_option.dropdown_option
        Create New
      #save_picture_option.dropdown_option
        Save
      #rename_picture_option.dropdown_option
        Rename
  #tool_bar_edit_element.tool_bar_element
    .tool_bar_title
      Edit &#x25bc
    #edit_tools_dropdown.dropdown_element.hidden
      #clear_picture_option.dropdown_option
        Clear
      #undo_option.dropdown_option
        Undo
      #redo_option.dropdown_option
        Redo
  #tool_bar_view_element.tool_bar_element
    .tool_bar_title
      View &#x25bc
    #view_tools_dropdown.dropdown_element.hidden
      #draw_grid_option.dropdown_option
        Draw Grid
      #canvas_dimension_option.dropdown_option
        Canvas Size
      #cell_size_option.dropdown_option
        Pixel Size
  #tool_bar_tools_element.tool_bar_element
    .tool_bar_title
      Tools &#x25bc
    #tool_tools_dropdown.dropdown_element.hidden
      .dropdown_option
        palette
      .dropdown_option
        flood fill
      .dropdown_option
        selection
