

.display_entry
  = image_tag @picture.current_version.display_png.to_data_url, class: 'picture_display'
  %br
  .picture_name
    = @picture.name

  - @picture.snapshots.reverse.each do |snapshot|
    = render 'snapshot_thumbnail', snapshot: snapshot
%br