= render 'admin_users_table',
         users: @users,
         picture_counts: @picture_counts,
         snapshot_counts: @snapshot_counts,
         recent_snapshot_counts: @recent_snapshot_counts,
         most_recently_saved_snapshots: @most_recently_saved_snapshots
